/* Reset some default browser styles */
body, h1, h2, p, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

/* Header Styles */
header {
    background-color: #e84c3d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.love-message {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.love-message h2 {
    font-size: 24px;
    color: #e84c3d;
}

.love-message p {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #e84c3d;
    color: #fff;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    .love-message h2 {
        font-size: 20px;
    }

    .love-message p {
        font-size: 16px;
    }
}
/* Inside your CSS file */
.love-message img {
    max-width: 100%;
    display: block;
    margin: 20px auto; /* Center the image */
    border: 1px solid #ccc; /* Add a border around the image */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
}
